.cube {
    width: 200px;
    height: 200px;
    position: relative;
    transform-style: preserve-3d;
    animation: spin 5s infinite linear;
  
  }
  
  .face {
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
  }
  
  .front {
    transform: translateZ(100px);
    background-color: #ff0000;
    /* Red */
    border-radius: 10px;
  
  }
  
  .back {
    transform: rotateY(100deg) translateZ(360px);
    background-color: #00ff00;
    /* Green */
    border-radius: 10px;
  }
  
  .left {
    transform: rotateY(-900deg) translateZ(100px);
    background-color: #0000ff;
    /* Blue */
    border-radius: 10px;
  }
  
  .right {
    transform: rotateY(90deg) translateZ(100px);
    background-color: #ffff00;
    /* Yellow */
    border-radius: 10px;
  }
  
  .top {
    transform: rotateX(90deg) translateZ(100px);
    background-color: #ff00ff;
    /* Magenta */
    border-radius: 10px;
  }
  
  .bottom {
    transform: rotateX(-90deg) translateZ(100px);
    background-color: #00ffff;
    /* Cyan */
    border-radius: 10px;
  }
  
  @keyframes spin {
    from {
      transform: rotateX(0deg) rotateY(0deg);
    }
  
    to {
      transform: rotateX(360deg) rotateY(360deg);
    }
  }
  
  body {
    background-color: #000;
    display: flex;
    justify-content: center;
    padding-top: 50vh;
  }